@charset "UTF-8";

body{
    background-color:#f8f6f0;

}

header{
    /*fixedで上部固定*/
  position: fixed;
  height: 70px;
  width:100%;
    z-index: 999;/*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#c3b68f;
  color:#fff;
  text-align: center;
  padding: 20px;
}

h1{
	font-size:50px;
	font-family:"Nico Moji";

	text-align: center;
 	position: absolute;
  	top: 40%;
  	left: 50%;
  	-webkit-transform: translateY(-50%) translateX(-50%);
  	transform: translateY(-50%) translateX(-50%);
  	padding: 20px;
}

p2{
 	position: absolute;
	top: 50%;
  	left: -180%;
}


table {

    border-collapse: collapse;  /* セルの線を重ねる */
}

th,td {
    padding: 5px 10px;          /* 余白指定 */
}

th {
    background-color: #c3b68f;  /* 背景色指定 */
    color:  #fff;               /* 文字色指定 */
    font-weight:  normal;       /* 文字の太さ指定 */
    position:  relative;        /* 位置指定 */
    z-index: 10;                /* 重なり調整 */
}

td {
	text-align: center;
    background-color:  #ece4ca; /* 背景色指定 */
    padding-left: 25px;         /* 余白指定 */
}

th::after {
    content:'';                 /* 空の要素を作る */
    position:  absolute;        /* 位置指定 */
    height: 24px;               /* 高さ指定 */
    width: 24px;                /* 幅指定 */
    background-color: #c3b68f;   /* 背景色指定 */
    transform:  rotate(45deg);  /* 要素を回転 */
    top: 5px;                   /* 位置指定 */
    right: -12px;               /* 位置指定 */
    z-index:  -1;               /* 重なり調整 */
}

tr {
    border-bottom:  solid #fff; /* 線指定 */
}

.parent{
  width: 900px;
  height: 80px;

  padding: 100px;
  margin: 200px;
  position: relative;
}
.inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  padding: 40px;

}



/*========= レイアウトのためのCSS ===============*/

#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

a{
  color: #333;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color:#f3f3f3;/*背景色*/
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:100%;
  height: 100%;
}