@charset "UTF-8";

body{
    background-color:rgb(90, 90, 90);
    text-align: center;
}

h1{
	font-size:45px;
	color: rgb(250, 250, 250);
	position: absolute;
  	top: 10%;
  	left: 42%;
}

h2{
	font-size:30px;
	color:rgb(189, 189, 189);
	position: absolute;
  	top: 45%;
  	left: 39%;
}

p{
	position: absolute;
	top: 38%;
  	left: 42.5%;
}

h3{
	color:rgb(189, 189, 189);
	position: absolute;
  	top: 30%;
  	left: 43%;
}

p1{
	position: absolute;
  	top: 60%;
  	left: 43%;
}

p2{
	position: absolute;
  	top: 65%;
  	left: 42.5%;
}

p3{
	position: absolute;
  	top: 75%;
  	left: 40%;
}

p4{
	position: absolute;
  	top: 75%;
  	left: 52%;
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 9px 17px;   /* 余白       */
  background    : rgba(37, 37, 37, 0.89);     /* 背景色     */
  color         : rgba(255, 255, 255, 0.93);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 2px #666666;  /* 影の設定 */
  border        : 2px solid rgba(37, 37, 37, 0.89);    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(37, 37, 37, 0.89);     /* 背景色     */
  background    : rgba(255, 255, 255, 0.93);     /* 文字色     */
}