@charset "UTF-8";

body{
    background-color:rgb(90, 90, 90);
    text-align: center;
}

.stuff {
  width: 25vw;
}
.textBox {
  position: relative;
  width: 40%;
  padding-top: 10px;
  height: 45px;
  display: inline-flex;
  margin-bottom: 3vh;
}
.textBox .text {
  font-weight: 500;
  width: calc(100% - 2vw);
  height: 27px;
  padding-left: 0.5vw;
  background-color: transparent;
  color: white;
  position: absolute;
  bottom: 0px;
  outline: none;
  border-style: solid;
  border-color: #E3E7EA;
  border-width: 0px 0px 2px 0px;
  font-size: 20px;
  -webkit-transition: border-color 0.45s linear;
  transition: border-color 0.45s linear;
}

.textBox > input.text:focus {
  border-color: #B2FF59;
}

.textBox .label {
  opacity: 0.1;
  pointer-events: none;
  z-index: 1;
  color: #C0C0C0;
  position: absolute;
  padding-left: 0.5vw;
  bottom: 3px;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition-property: opacity bottom font-size;
  transition-property: opacity bottom font-size;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

.textBox .error {
  position: absolute;
  margin-top: 48px;
  width: 100%;
  color: #e74c3c;
  text-align: center;
}

.textBox > input.text:focus ~ .label, .textBox > input.text:not([value=""]) ~ .label {
  opacity: 1;
  z-index: 1;
  bottom: 55%;
  font-size: 12px;
}

.textBox > input.text:focus ~ .label {
  color: #B2FF59;
}

.textBox ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.textBox ::-moz-placeholder { /* Firefox 19+ */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.textBox :-ms-input-placeholder { /* IE 10+ */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.textBox :-moz-placeholder { /* Firefox 18- */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

h1{
	font-size:45px;
	color: rgb(250, 250, 250);
	position: absolute;
  	top: 10%;
  	left: 46%;
}

h2{
	font-size:30px;
	color:rgb(189, 189, 189);
	position: absolute;
  	top: 49%;
  	left: 43%;
}

p{
	position: absolute;
	top: 38%;
  	left: 42.5%;
}

h3{
	color:rgb(189, 189, 189);
	position: absolute;
  	top: 30%;
  	left: 43%;
}

p1{
	position: absolute;
  	top: 60%;
  	left: 43%;
}

p2{
	position: absolute;
  	top: 65%;
  	left: 42.5%;
}

p3{
	position: absolute;
  	top: 75%;
  	left: 40%;
}

p4{
	position: absolute;
  	top: 75%;
  	left: 52%;
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 9px 17px;   /* 余白       */
  background    : rgba(37, 37, 37, 0.89);     /* 背景色     */
  color         : rgba(255, 255, 255, 0.93);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 2px #666666;  /* 影の設定 */
  border        : 2px solid rgba(37, 37, 37, 0.89);    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(37, 37, 37, 0.89);     /* 背景色     */
  background    : rgba(255, 255, 255, 0.93);     /* 文字色     */
}