@charset "UTF-8";

/*
========= ボタンのためのCSS ===============
.openbtn1{
  position:fixed;
    z-index: 9999;ボタンを最前面に
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}

×に変化
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #666;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px;
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
 */

body{
    background-color:rgb(226, 232, 240);
    text-align: center;
}

h1{
	font-size:45px;
	color: rgb(255,255,255);
	position: absolute;
  	top: 10%;
  	left: 30%;
}

h1:hover{
	color: rgb(168, 168, 209);
}

span{
	position: absolute;
  	top: 25%;
  	left: 44%;
}

h2{
	font-size:30px;
	position: absolute;
  	top: 45%;
  	left: 33%;
}

div{
	font-size:15px;
	position: absolute;
  	top: 60%;
  	left: 33%;
}

p{
	position: absolute;
  	top: 75%;
  	left: 45%;
}

.flat.border {
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  margin: 0 auto;
  /* 幅の指定 */
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  padding: 10px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  border: 3px solid rgb(143, 177, 218);
  background: #fff;
  color: rgb(100, 143, 151);
}
.flat.border:hover {
  background: rgb(181, 181, 192);
  color: #fff;
}
.flat.border:active, .flat.border:focus {
  top: 2px;
}


