<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>残高確認</title>
<link th:href="@{/css/bank.css}" rel="stylesheet">
</head>
<body>

	<span th:replace="menu"></span>

	<hr>

<h1><span th:text="${session.login.name}+' さんの現在の残高'"></span></h1>

<div class="parent">
  <div class="inner">

<table width="600"  border="1">
<tr>
<th>残高</th>
<td th:text="${bankAccount.money}+'円'"></td>
</tr>
<tr>
<th>累計負け金</th>
<td th:text="${bankAccount.lost}+'円'"></td>
</tr>
<tr>
<th>累計勝ち金</th>
<td th:text="${bankAccount.won}+'円'"></td>
</tr>
<tr>
<th>成績</th>
<td th:text="${bankAccount.won}+${bankAccount.lost}+'円'"></td>
</tr>
</table>

</div>
</div>

</body>
</html>