<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BlackJack</title>
<link th:href="@{/css/blackjack.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${game.name}"></h1>

<p>ディーラーの手札枚数は <span th:text="${list[2]}" style="color:white"></span> です</p>
<h3 th:text="'ディーラー１枚目：' + ${dealerDeck[0]}"></h3>
<br>

<h2 th:text="'あなたの手札' + ${playerDeck}"></h2>
<p1>現在のあなたの合計は <span th:text="${list[3]}" style="color:white"></span> です</p1>
<br>

<p2>
アクションを選択してください<br></p2>

<p3>
<form action="/actionContinue" method="post">
<input type="submit" value="カードをひく" class="button">
</form>
</p3>

<p4>
<form action="/actionEnd" method="post">
<input type="submit" value="ひかない" class="button">
</form>
</p4>

<span th:text="${message}"></span>

</body>
</html>