<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品管理</title>
</head>
<body>
<h1>商品更新</h1>
<form th:action="'/items/change/' +${itemcode}" method="post">
<table  border="1">
	<tr>
	<th>コード</th><td th:text="${itemcode}"></td>
	</tr>
	<tr>
	<th>カテゴリーコード</th><td><input type="text" name="categoryCode"></td>
	</tr>
	<tr>
	<th>名前</th><td><input type="text" name="name"></td>
	</tr>
	<tr>
	<th>価格</th><td><input type="text" name="price"></td>
	</tr>
</table>
<br>
<input type="submit" value="更新">
</form>
</body>
</html>