<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ルール説明</title>
</head>
<body>
<h1 th:text="'ルール説明：' + ${game.name}"></h1>

<div>
チップを賭けてCPUとポーカー勝負をしよう！<br>

最初に5枚配られるファイブカード・ドローのクローズドポーカーです。<br>

ルール
<ol>
<li>最初に$10賭けてゲームスタート！</li>
<li>プレイヤー、CPUともに5枚手札が配られます（お互いの手札は見えません）</li>
<li>手札を見て掛け金を決めよう</li>
<li>自分の手札をデッキのカードと交換できます</li>
<li>交換したら再度掛け金を決めていざ勝負！</li>
<li>手札の役が強い方が勝ち！掛け金と役で賞金が決まります</li>
</ol>

チップの換算：10000円＝$100
</div>

<form action="/startPoker" method="post">
<input type="text" name="tip">円
<input type="submit" value="チップを確定して始める！">
</form>


<span th:text="${message}"></span>
<a href="/select/game">ゲーム一覧に戻る</a>
</body>
</html>