<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ルール説明</title>
<link th:href="@{/css/gametop2.css}" rel="stylesheet">
</head>
<body>



<h1 th:text="${game.name}"></h1>

<p>くじで当たりが出たらジャックポットチャレンジ成功！<br>
ジャックポットの一部が当たるかも？？？<br>
<br>
<br>
現在のジャックポット『<span style="color:red" th:text="${JP.money}"></span>』円です。</p>

<form action="/challenge" method="post">
<input type="hidden" th:value="${JP.money}" name="JP">
<input type="hidden" th:value="${game.name}" name="name">
<p1><input type="submit" value="START" class="button"></p1>
</form>

<span th:text="${message}"></span>
</body>
</html>