<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ルール説明</title>
<link th:href="@{/css/gametop4.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${game.name}"></h1>

<h3>ディーラーとブラックジャックで対決！</h3>

<h2>ルール</h2>

<div>
最初にディーラーとプレイヤーに2枚づつ手札が配られます<br>
自分の手札の合計値が21に近づくようにアクションを決めよう<br>
カードの合計値が21を超えてしまうと「バースト」で負けが確定します<br>
ディーラーは合計値が17以上になるまでひき続けます<br>
合計値の大きさで勝敗が確定します<br>
自分の手札が21を超えないように気を付けながらディーラーとの駆け引きを楽しんでください！<br>
</div>
<br>



<form action="/startBlackJack" method="post">
<p><input type="submit" value="ゲームを開始する" class="button"></p>
</form>


<span th:text="${message}"></span>

</body>
</html>