<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ルール説明</title>
<link th:href="@{/css/gametop1.css}" rel="stylesheet">
</head>
<body>
<form action="/yoga" method="get">

<h1>画像を真似して行うヨガ体験</h1>

<br>
<span><img src="/yogarules.png" width="300"></span>

<h2>やり方</h2>
<div>
ボタンを押して出てくる画像のポーズを真似してヨガをやってみましょう！
<br>
少し難しいものもあるけど諦めずにトライしてみてください。
<br>
ヨガをする前には必ずストレッチをして体を伸ばしてね
<br>
無理しすぎず全ポーズをレッツチャレンジ！
</div>


<p><button class="reset flat border">■ START</button></p>
</form>

</body>
</html>