<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ルール説明</title>
</head>
<body>
<h1 th:text="${game.name}"></h1>

くじで当たりが出たらジャックポットチャレンジ成功！<br>
ジャックポットの一部が当たるかも？？？<br>

現在のジャックポットは<span style="color:red" th:text="${JP.money}"></span>円です。

<form action="/challenge" method="post">
<input type="hidden" th:value="${JP.money}" name="JP">
<input type="hidden" th:value="${game.name}" name="name">
<input type="submit" value="START">
</form>

<span th:text="${message}"></span>
<a href="/select/game">ゲーム一覧に戻る</a>
</body>
</html>