<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JackPotChallenge</title>
<link th:href="@{/css/jackpot.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${name}"></h1>

<div th:if="${check == true}">


	<p4><img  src="/money.png" width="420"></p4>
	<br>
	<p>おめでとうございます！！</p>
	<p1 th:text="'ジャックポットの'+ ${prizeR} + 'をゲット出来ます！！'"></p1>

	<form action="/result" method="post">
	<input type="hidden" value="2" name="code">
	<input type="hidden" th:value="${prize}" name="prize">
	<p2><button class="reset flat border" >結果表示画面へ</button></p2>
	</form>
</div>

<div th:if="${check == false}">
	<p>くじをひいて賞金を決めよう！</p>
	<p3><img src="/kira.png" width="1500"></p3>

	<p1>
	<form action="/getPrize" method="post">
	<button class="reset flat border" >くじを引く</button>
	</form>
	<br>

	現在のジャックポットは<span style="color: red; font-size: 20px" th:text="${JP}"></span>円です。<br></p1>
</div>
</body>
</html>