<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JackPotChallenge</title>
</head>
<body>
<h1 th:text="${name}"></h1>

<div th:if="${slot1 == null && slot2 == null && slot3 == null}">
	<form action="/challenge/start" method="post">
		<input type="hidden" th:value="${name}" name="name">
		<input type="hidden" th:value="${JP}" name="JP">
		現在のジャックポットは<span style="color: red" th:text="${JP}"></span>円です。<br>
		<button name="start">START</button>
	</form>
</div>

<div th:if="${slot1 != null && slot2 != null && slot3 != null}">
<table border="1">
        <tr>
       		 <td><div th:text="${slot1}"></div></td>
           	 <td><div th:text="${slot2}"></div></td>
           	 <td><div th:text="${slot3}"></div></td>
        </tr>
</table>
<span th:text="${message}"></span>
</div>

<div th:else="${samejiroCheck == true}">
	<a href="jpResult">結果表示画面へ</a>
</div>

<div th:if="${samejiroCheck == true}">
	<form action="/jackpot" method="post">
	<input type="hidden" th:value="${name}" name="name">
	<input type="hidden" th:value="${JP}" name="JP">
	<input type="hidden" value="2" name="code">
	<input type="submit" value="JackPot!!!">
	</form>
</div>

</body>
</html>