<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JackPotChallenge</title>
<link th:href="@{/css/jpchallenge.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${name}"></h1>

<div th:if="${slot1 == null && slot2 == null && slot3 == null}">
	<form action="/challenge/start" method="post">
		<input type="hidden" th:value="${name}" name="name">
		<input type="hidden" th:value="${JP}" name="JP">
		<p1>現在のジャックポットは<span style="color: red" th:text="${JP}"></span>円です。<br></p1>

<table border="1">
        <tr>
       		 <td><img width="200" th:src="@{/same0.png}"/></td>
       		 <td><img width="200" th:src="@{/same0.png}"/></td>
       		 <td><img width="200" th:src="@{/same0.png}"/></td>
        </tr>
</table>

		<p2><button class="reset flat border" name="start">START</button></p2>
	</form>
</div>

<div th:if="${slot1 != null && slot2 != null && slot3 != null}">
<table border="1">
        <tr>
       		 <td><div th:if="${slot1 == 'サメ太郎'}"><img width="200" th:src="@{/same04.png}"/></div>
       		 	<div th:if="${slot1 == 'サメジロー。'}"><img width="200" th:src="@{/same01.png}"/></div>
       		 	<div th:if="${slot1 == 'サメ子'}"><img width="200" th:src="@{/same03.png}"/></div></td>

           	 <td><div th:if="${slot2 == 'サメ太郎'}"><img width="200" th:src="@{/same04.png}"/></div>
           	 <div th:if="${slot2 == 'サメジロー。'}"><img width="200" th:src="@{/same01.png}"/></div>
           	 <div th:if="${slot2 == 'サメ子'}"><img width="200" th:src="@{/same03.png}"/></div></td>

           	 <td><div th:if="${slot3 == 'サメ太郎'}"><img width="200" th:src="@{/same04.png}"/></div>
           	 <div th:if="${slot3 == 'サメジロー。'}"><img width="200" th:src="@{/same01.png}"/></div>
           	 <div th:if="${slot3 == 'サメ子'}"><img width="200" th:src="@{/same03.png}"/></div></td>
        </tr>
</table>
<p3><span th:text="${message}"></span></p3>
</div>

<div th:if="${samejiroCheck == false}">
	<form action="/result" method="post">
	<input type="hidden" value="2" name="code">
	<input type="hidden" value="0" name="prize">
	<p4><button class="reset flat border" >結果表示画面へ</button></p4>
	</form>
</div>

<div th:if="${samejiroCheck == true}">
	<form action="/jackpot" method="post">
	<input type="hidden" th:value="${name}" name="name">
	<input type="hidden" th:value="${JP}" name="JP">
	<p4><button class="reset flat border" >JackPot!!!</button></p4>
	</form>
</div>

</body>
</html>