<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JackPotChallenge</title>
</head>
<body>
<h1 th:text="${name}"></h1>

<div th:if="${slot1 == null && slot2 == null && slot3 == null}">
	<form action="/challenge/start" method="post">
		<input type="hidden" th:value="${name}" name="name">
		<input type="hidden" th:value="${JP}" name="JP">
		<button name="start">START</button>
		現在のジャックポットは<span style="color: red" th:text="${JP}"></span>円です。
	</form>
</div>

<div th:else="${slot1 == null && slot2 == null && slot3 == null}">
<table border="1">
        <tr>
       		 <td><div th:text="${slot1}"></div></td>
           	 <td><div th:text="${slot2}"></div></td>
           	 <td><div th:text="${slot3}"></div></td>
        </tr>
</table>
	<span th:text="${message}"></span>
</div>


</body>
</html>