<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ゲーム一覧</title>
<link th:href="@{/css/list.css}" rel="stylesheet">
</head>
<body>

	<span th:replace="menu"></span>

	<hr>

<h1>ゲーム一覧</h1>

<div class="parent">
  <div class="inner">

<table >
<div  th:each="game : ${games}">
  <tr>
  <th th:if="${game.code == 1}"><img width="150" th:src="@{/yogatop1.png}"/></th>
  <th th:if="${game.code == 2}"><img width="100" th:src="@{/jackpot.png}"/></th>
  <th th:if="${game.code == 3}"><img width="110" th:src="@{/trnp.png}"/></th>
  <th th:if="${game.code == 4}"><img width="100" th:src="@{/bj.png}"/></th>
    <td th:text="${game.name}"></td>
    <td th:text="'1 PLAY '+ ${game.price} + '円'"></td>
    <td><form th:action="'/select/game/'+${game.code}" method="post">
    <button class="reset flat border">ゲームに<br>参加する！</button></form>
		</td>
  </tr>
</table>

</div></div>



<!--
<div>
	<table border="2" th:each="game : ${games}">
	<tr>
		<td rowspan="2">ここに画像をいれたいね</td>
		<td th:text="${game.name}"></td>
		<form th:action="'/select/game/'+${game.code}" method="post">
		<td rowspan="2"><button type="submit">ゲームに<br>参加する！</button></td>
		</form>
	</tr>
	<tr>
		<td th:text="'1 PLAY '+ ${game.price} + '円'"></td>
	</tr>

	</table>

</div>
-->


</body>
</html>