<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
<a href="/" class="btn btn-svg">
  <svg>
    <rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
  </svg>
  <span>トップ画面に戻る</span>
</a>
<br>
<h1>ログイン</h1>
<div th:text="${samejiroToday}"></div>

<h2>
<form action="/login" method="post">
<div th:text="${Registration}" style="color:red"></div>
<div th:text="${message}" style="color:red"></div>
<div th:text="${miss}" style="color:red"></div>

<br>
<br>


<div class="group">
   <label for="text3" id="l_text3">ユーザー名</label>
   <input id="text3" type="text" name="userid">
   <div class="text_underline"></div>
</div>
<br>

<div class="group">
   <label for="text3" id="l_text3">パスワード</label>
   <input id="text3" type="password" name="password">
   <div class="text_underline"></div>
</div>

<!--
<table  border="1">
	<tr>
	<td>ユーザID</td><td><input type="text" name="userid"></td>
	</tr>
	<tr>
	<td>パスワード</td><td><input type="password" name="password"></td>
	</tr>
</table>
-->


<br>
<input type="submit" value="ログイン" class="button">
</form>
<br>
<br>
<br>
<a href="/signup">新規会員登録</a>はこちら
</h2>

<img src="/2.png" width=200>
<img src="/3.png" width=700>

</body>
</html>