<link th:href="@{/css/menu.css}" rel="stylesheet">
<div style="font-size:20px">

<p1 th:text="'ようこそ、'+${session.login.name}+' さん'"></p1>

<!--
<a href="/select/game" class="btn-partial-line">
  <i class="fa fa-caret-right"></i>ゲーム一覧
</a>

<a href="/select/bank" class="btn-partial-line">
  <i class="fa fa-caret-right"></i>残高確認へ
</a>

&nbsp;&nbsp;-->



&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;

<!--
<a href="/logout" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> 〉LOGOUT
</a>
-->


</div>
