<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Poker</title>
</head>
<body>
<h1 th:text="${game.name}"></h1>

<div th:text="'pot:' + ${list.get(2)}"></div>

<div th:text="'CPUの手札' + ${cpuDeck}"></div>
<div th:text="${handCPU}"></div><br>


<div th:text="'あなたの手札' + ${playerDeck}"></div>
<div th:text="${hand}"></div><br>

<div th:text="${winner}"></div>
<div th:else="${prize == 0}">
<span th:text="'賞金は$'+ ${prize} + 'に決定しました'"></span>
</div>

<br>
<div th:text="'あなたの残チップ' + ${list.get(0)} + 'は口座にお返ししました。'"></div>

<form action="/result" method="post">
<input type="hidden" th:value="${game.code}" name="code">
<input type="hidden" th:value="${prize}*100" name="prize">
<input type="submit" value="結果表示画面へ">
</form>

</body>
</html>