<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PokerShowDown</title>
<link th:href="@{/css/pokershowdown.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${game.name}"></h1>

<p5>
<img width="250" th:src="@{/card1.png}"/>
</p5>

<h3 th:text="'CPUの残りチップ' + ${list.get(1)}"></h3>
<br>
<h4 th:text="'あなたの残りチップ' + ${list.get(0)}"></h4>
<h2 th:text="'あなたの手札' + ${playerDeck}"></h2>
<br>
<p th:text="'pot:' + ${list.get(2)}"></p>



<form action="/pokerResult" method="post"><p1>
<input type="hidden" name="playerDeck" th:value="${playerDeck}">
<input type="hidden" name="cpuDeck" th:value="${cpuDeck}">


<div class="stuff">
<div class="textBox">


<input class="text" type="text" name="bet" th:value="${list.get(0)}"
		onkeyup="this.setAttribute('value', this.value);">
		<label class="label">BET:$</label>
  <label class="error"></label>
 </div>
 </div></p1>


<a><input type="submit" value="勝負！" class="button"></a>
</form>


<p6><span th:text="${message}"></span></p6>

</body>
</html>