<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Poker</title>
<link th:href="@{/css/poker.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${game.name}"></h1>

<p5>
<img width="250" th:src="@{/card1.png}"/>
</p5>

<h3 th:text="'CPUの残りチップ：' + ${list[1]}"></h3>
<br>
<h4 th:text="'あなたの残りチップ：' + ${list[0]}"></h4>
<h2 th:text="'あなたの手札' + ${playerDeck}"></h2>
<br>

<p th:text="'pot:' + ${list[2]}"></p>

<p1>
アクションを選択してください<br><br>
<form action="/action" method="post">
<input type="checkbox" name="check" value="1">一番左
<input type="checkbox" name="check" value="2">左から２つ目
<input type="checkbox" name="check" value="3">真ん中
<input type="checkbox" name="check" value="4">右から２つ目
<input type="checkbox" name="check" value="5">一番右
<input type="checkbox" name="check" value="6" checked="checked">交換しない

<br>

<br>
<div class="stuff">
<div class="textBox">
<input class="text" type="text" name="bet" th:value="${list[2]}"
		onkeyup="this.setAttribute('value', this.value);" >

		<label class="label">BET:$</label>
  <label class="error"></label>

</div>
</div>

<p2>
<input type="hidden" name="deckCount" th:value="${deckCount}">
<input type="submit" value="確定" class="button"></p2>
</form>
</p1>
<div th:text="${message}"></div>

</body>
</html>