<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>QUIZ</title>
<link th:href="@{/css/quiz.css}" rel="stylesheet">
</head>
<body>

<div>
<h1 th:if="${session.COUNT == null}">クイズ</h1>
<br>
<div th:if="${session.COUNT == null}">
<!-- <img width="350" th:src="@{/yogatop.png}"/> -->
</div>
<br>
<br>
<br>
<br>
<form action="/quiz" method="post">
<input th:if="${session.COUNT == null}" type="submit" class="button" value="スタート！">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 1}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 1}">第一問</h1>
<div th:if="${session.COUNT == 1}">
<h2>「フォーチュンクッキー」とはどんなクッキーでしょうか？</h2>

①<input type="submit" class="button" name="wrong" value="コインが入っているクッキー">
②<input type="submit" class="button" name="true" value="おみくじ入りのクッキー">
③<input type="submit" class="button" name="wrong" value="近未来的で斬新なクッキー">
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 2}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 2}">第二問</h1>
<div th:if="${session.COUNT == 2}">
<h2>嬉しくて泣いているときの涙はどんな味でしょうか？</h2>

①<input type="submit" class="button" name="wrong" value="何の味もしない">
②<input type="submit" class="button" name="wrong" value="塩辛い>
③<input type="submit" class="button" name="true" value="薄ら塩味">
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->
<form th:if="${session.COUNT == 8}" action="/result" method="post">
<input type="hidden" value="1" name="code">
<input type="hidden" value="100" name="prize">

<h1 th:if="${session.COUNT == 8}">様々なヨガお疲れさまでした！</h1>
<span th:if="${session.COUNT == 8}"><img width="350" th:src="@{/same1.png}"/></span>
<p th:if="${session.COUNT == 8}">
いつも疲れている体を癒すことはできましたか？
<br>
継続することでより良い効果を得ることができるので継続してやってみましょう！
<br></p>
<input type="submit" class="button" value="PointGet"></form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

</div>

</body>
</html>