<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>QUIZ</title>
<link th:href="@{/css/quizanswer.css}" rel="stylesheet">
</head>
<body>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<form th:if="${session.COUNT == 1}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 1}">第一問</h1>
<div th:if="${session.COUNT == 1}">

<br>
<br>
<h2>正解は・・・②「おみくじ入りのクッキー」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
フォーチュンクッキーの中にはおみくじの書かれた紙が入っていて、割ることで取り出すことが出来ます。<br>
アメリカやカナダの中華料理店で食後のデザートやちょっとしたお土産として出されることが多いです。

</div>

<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 2}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 2}">第二問</h1>
<div th:if="${session.COUNT == 2}">

<br>
<br>
<h2>正解は・・・③「薄ら塩味」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
涙の味は感情によってナトリウムの量が変わり、違う味になると言われています。<br>
嬉しいときや悲しいときは薄味になり、悔しいときや怒っているときは塩辛くなります。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 3}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 3}">第三問</h1>
<div th:if="${session.COUNT == 3}">
<br>
<br>
<h2>正解は・・・③「光が入りやすくするため」</h2>
<br>

<div th:text="${RightOrWrong}"></div>

<br>
<br>
19世紀に色の濃い紅茶が流行りましたが、その濃さ故あまりきれいとは言えませんでした。<br>
そのため、カップの底が浅く、飲み口の広い今のティーカップの形にすることで光が入りやすい設計になったと言われています。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 4}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 4}">第四問</h1>
<div th:if="${session.COUNT == 4}">

<br>
<br>
<h2>正解は・・・①「透明な卵になる」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
卵の殻を構成している炭酸カルシウムがお酢の酢酸と反応し、二酸化炭素と酢酸カルシウムに変化します。<br>
酢酸カルシウムは水に溶けやすい成分なので殻だけ溶けた透明な卵が出来上がります。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 5}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 5}">第五問</h1>
<div th:if="${session.COUNT == 5}">
<br>
<br>
<h2>正解は・・・③「20分」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
キリンは栄養を摂取するために大量の草を食べる必要があり、睡眠をとる時間があまりないと考えられています。
</div>
<br>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->


<form th:if="${session.COUNT == 6}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 6}">第六問</h1>
<div th:if="${session.COUNT == 6}">
<br>
<br>
<h2>正解は・・・②「上杉謙信」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
武田謙信が塩不足で苦しんでいるとき、敵対関係にあった上杉検診が塩を送って助けたことに由来します。
</div>
<br>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 7}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 7}">第七問</h1>
<div th:if="${session.COUNT == 7}">
<br>
<br>
<h2>正解は・・・③「ジュラシックパーク ロストワールド」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
上演開始から120分ごろのシーンでちょっとだけ出演しています。<br>
主人公たちがテレビを見ているときにテレビに反射して写っています。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 8}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 8}">第八問</h1>
<div th:if="${session.COUNT == 8}">
<br>
<br>
<h2>正解は・・・①「怠け者」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
『靴紐がなく、簡単に履いたり脱いだり出来る靴』ということが由来です。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="次の問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 9}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 9}">第九問</h1>
<div th:if="${session.COUNT == 9}">
<br>
<br>
<h2>正解は・・・①「３種類」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
猫の血液型はA型、B型、AB型の３種類と言われています。<br>
ちなみにゴリラはB型のみの１種類、馬は３兆種類あるとも言われています。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="最終問題へ" class="button">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 10}" action="/quiz" method="post">
<br>
<br>
<br>
<br>
<h1 th:if="${session.COUNT == 10}">第十問</h1>
<div th:if="${session.COUNT == 10}">
<br>
<br>
<h2>正解は・・・③「香り」</h2>
<br>
<div th:text="${RightOrWrong}"></div>
<br>
<br>
英語ではMusk(香り)と書きます。<br>
これがなまってマスクに変化しました。
</div>
<br>
<br>
<br>
<br>
<input type="submit" value="結果表示へ！" class="button">
</form>

</body>
</html>