<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>QUIZ</title>
<link th:href="@{/css/quiz.css}" rel="stylesheet">
</head>
<body>

<div>
<h1 th:if="${session.COUNT == null}">雑学クイズ</h1>
<br>
</div>
<div th:if="${session.COUNT == null}">
<!-- <img width="350" th:src="@{/yogatop.png}"/> -->
</div>
<br>
<br>
<br>
<br>
<form action="/quiz" method="post">
<input th:if="${session.COUNT == null}" type="submit" class="button" value="スタート！">
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 1}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 1}">第一問</h1>
<div th:if="${session.COUNT == 1}">
<h2>「フォーチュンクッキー」とはどんなクッキーでしょうか？</h2>

①<input type="submit" name="wrong" value="コインが入っているクッキー"><br>
②<input type="submit" name="true" value="おみくじ入りのクッキー"><br>
③<input type="submit" name="wrong" value="近未来的で斬新なクッキー"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 2}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 2}">第二問</h1>
<div th:if="${session.COUNT == 2}">
<h2>嬉しくて泣いているときの涙はどんな味でしょうか？</h2>

①<input type="submit" name="wrong" value="何の味もしない"><br>
②<input type="submit" name="wrong" value="塩辛い"><br>
③<input type="submit" name="true" value="薄ら塩味"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 3}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 3}">第三問</h1>
<div th:if="${session.COUNT == 3}">
<h2>ティーカップの飲み口が広がった形なのは何故？</h2>

①<input type="submit" name="wrong" value="アイスクリームを浮かべるため"><br>
②<input type="submit" name="wrong" value="空気に触れやすくするため"><br>
③<input type="submit" name="true" value="光が入りやすくするため"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 4}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 4}">第四問</h1>
<div th:if="${session.COUNT == 4}">
<h2>お酢に卵を殻ごといれるとどうなるでしょう？</h2>

①<input type="submit" name="true" value="透明な卵になる"><br>
②<input type="submit" name="wrong" value="石のように固くなる"><br>
③<input type="submit" name="wrong" value="全部溶けてなくなる"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 5}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 5}">第五問</h1>
<div th:if="${session.COUNT == 5}">
<h2>キリンの睡眠時間はどのくらいでしょう？</h2>

①<input type="submit" name="wrong" value="8時間"><br>
②<input type="submit" name="wrong" value="20時間"><br>
③<input type="submit" name="true" value="20分"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 6}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 6}">第六問</h1>
<div th:if="${session.COUNT == 6}">
<h2>「敵に塩を送る」の由来になった武将は誰でしょう？</h2>

①<input type="submit" name="wrong" value="武田信玄"><br>
②<input type="submit" name="true" value="上杉謙信"><br>
③<input type="submit" name="wrong" value="石田三成"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 7}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 7}">第七問</h1>
<div th:if="${session.COUNT == 7}">
<h2>映画監督のスティーヴン・スピルバーグ。彼が出演している自分の作品はどれでしょう？</h2>

①<input type="submit" name="wrong" value="ジョーズ"><br>
②<input type="submit" name="wrong" value="E.T."><br>
③<input type="submit" name="true" value="ジュラシックパーク ロストワールド"><br>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 8}" action="/result" method="post">
<input type="hidden" value="5" name="code">
<input type="hidden" th:value="${1000 * session.RIGHT / 7}" name="prize">

<h1 th:if="${session.COUNT == 8}">お疲れさまでした！</h1>
<p th:if="${session.COUNT == 8}">
正解数：<span th:text="${session.RIGHT}"></span>
<br>
正答率は<span th:text="${100 * session.RIGHT / 7}+ '%'"></span>でした！
<br>
<span th:text="${1000 * session.RIGHT / 7} + '円が賞金として送られます'"></span>
</p>
<input type="submit" class="button" value="PointGet"></form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->



</body>
</html>