<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>QUIZ</title>
<link th:href="@{/css/quiz.css}" rel="stylesheet">
</head>
<body>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<br>
<br>
<br>
<div>
<h1 th:if="${session.COUNT == null}">雑学クイズ</h1>
<br>
<br>
<br>
</div>
<div th:if="${session.COUNT == null}">
<!-- <img width="350" th:src="@{/yogatop.png}"/> -->
</div>
<br>
<br>
<br>
<br>
<form action="/quiz" method="post">
<input th:if="${session.COUNT == null}" type="submit" class="button" value="スタート！" >
</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 1}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 1}">第一問</h1>
<div th:if="${session.COUNT == 1}">
<br>
<h2>「フォーチュンクッキー」とはどんなクッキーでしょうか？</h2>
<br><br><br><br>
<p>
<input type="submit" name="wrong" value="①：コインが入っているクッキー" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="②：おみくじ入りのクッキー" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="③：近未来的で斬新なクッキー" class="button">
</p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 2}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 2}">第二問</h1>
<div th:if="${session.COUNT == 2}">
<h2>嬉しくて泣いているときの涙はどんな味でしょうか？</h2>
<br>
<br><br><br><br>

<p>
<input type="submit" name="wrong" value="①：何の味もしない" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：塩辛い" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="③：薄ら塩味" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 3}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 3}">第三問</h1>
<div th:if="${session.COUNT == 3}">
<br>
<h2>ティーカップの飲み口が広がった形なのは何故？</h2>

<br><br><br><br>
<p>
<input type="submit" name="wrong" value="①：アイスクリームを浮かべるため" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：空気に触れやすくするため" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="③：光が入りやすくするため" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 4}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 4}">第四問</h1>
<div th:if="${session.COUNT == 4}">

<br>
<h2>お酢に卵を殻ごといれるとどうなるでしょう？</h2>

<br><br><br><br>
<p>
<input type="submit" name="true" value="①：透明な卵になる" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：石のように固くなる" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="③：全部溶けてなくなる" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 5}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 5}">第五問</h1>
<div th:if="${session.COUNT == 5}">

<br>
<h2>キリンの睡眠時間はどのくらいでしょう？</h2>

<br><br><br><br>
<p>
<input type="submit" name="wrong" value="①：8時間" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：20時間" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="③：20分" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 6}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 6}">第六問</h1>
<div th:if="${session.COUNT == 6}">

<br>
<h2>「敵に塩を送る」の由来になった武将は誰でしょう？</h2>

<br><br><br><br>
<p>
<input type="submit" name="wrong" value="①：武田信玄" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="②：上杉謙信" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="③：石田三成" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 7}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 7}">第七問</h1>
<div th:if="${session.COUNT == 7}">

<br>
<h2>映画監督のスティーヴン・スピルバーグ。彼が出演している自分の作品はどれでしょう？</h2>

<br><br><br><br>
<p>
<input type="submit" name="wrong" value="①：ジョーズ" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：E.T." class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="③：ジュラシックパーク ロストワールド" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 8}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 8}">第八問</h1>
<div th:if="${session.COUNT == 8}">

<br>
<h2>学生がよく履く「ローファー」を日本語に訳すとどんな意味になるでしょう？</h2>

<br><br><br><br>
<p>
<input type="submit" name="true" value="①：怠け者" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：親不孝者" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="③：寂しがり屋" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 9}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 9}">第九問</h1>
<div th:if="${session.COUNT == 9}">

<br>
<h2>猫の血液型は何種類でしょう？</h2>

<br><br><br><br>
<p>
<input type="submit" name="true" value="①：３種類" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：５種類" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="③：１０種類以上" class="button"></p>
</div>

</form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 10}" action="/quizAnswer" method="post">
<h1 th:if="${session.COUNT == 10}">第十問</h1>
<div th:if="${session.COUNT == 10}">

<br>
<h2>マスクメロンの「マスク」とはどんな意味？</h2>

<br><br><br><br>
<p>
<input type="submit" name="wrong" value="①：仮面" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="wrong" value="②：偽物" class="button">
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
<input type="submit" name="true" value="③：香り" class="button"></p>
</div>

</form>
<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

<form th:if="${session.COUNT == 11}" action="/result" method="post">
<input type="hidden" value="5" name="code">
<input type="hidden" th:value="${10 * rightR}" name="prize">

<h1 th:if="${session.COUNT == 11}">お疲れさまでした！</h1>
<p th:if="${session.COUNT == 11}">
<br>
<br>
<br>
正解数：<span th:text="${session.RIGHT}"></span>
<br>
正答率は <span th:text="${rightR}+ '%'" style="color:white"></span> でした！
<br>
<br>
<span th:text="${10 * rightR} + ' ｼｬｰｸが賞金として送られます'"></span>
<br>
<br>
</p>
<input type="submit" class="button" value="PointGet"></form>

<!-- ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ -->

</body>
</html>