<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録照会</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
<a href="/" class="btn btn-svg">
  <svg>
    <rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
  </svg>
  <span>トップ画面に戻る</span>
</a>
<br>
<h1>登録内容照会</h1>


<h2>
<form action="/remind" method="post">
<div th:text="${message}" style="color:red"></div>

<br>
<br>

<div class="group">
   <label for="text3" id="l_text3">メールアドレス</label>
   <input id="text3" type="address" name="address">
   <div class="text_underline"></div>
</div>

<!--
<table  border="1">
	<tr>
	<td>ユーザID</td><td><input type="text" name="userid"></td>
	</tr>
	<tr>
	<td>パスワード</td><td><input type="password" name="password"></td>
	</tr>
</table>
-->


<br>
<input type="submit" value="ユーザー名照会" name="id" class="button">
<input type="submit" value="パスワード照会" name="pass" class="button">
</form>
<br>
<br>
<br>
<a href="/signup">新規会員登録</a>はこちら<br>
<a href="/login">ログイン画面</a>はこちら
</h2>

<p1><img src="/2.png" width=300 height="150"></p1>
<p2><img src="/4.png" width=700></p2>
<p3 th:if="${userID != null}"><div th:text="'「'+ ${userID} + '」だよ！'"></div></p3>
<p3 th:if="${password != null}"><div th:text="'「'+ ${password} + '」だよ！'"></div></p3>

</body>
</html>