<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ゲーム詳細</title>
<link th:href="@{/css/rules.css}" rel="stylesheet">
</head>
<body>

	<span th:replace="menu"></span>

	<hr>

	<br>
<h1 th:text="${game.name}"></h1>

<br>

<span th:if="${game.code == 1}"><img src="/yoga-2.png" width="600"></span>
<span th:if="${game.code == 2}"><img src="/jackpot.jpg" width="290"></span>
<span th:if="${game.code == 3}"><img src="/pokerr.png" width="270"></span>
<span th:if="${game.code == 4}"><img src="/dealer.png" width="300"></span>




<br>
<div th:text="'1 PLAY '+ ${game.price} + '円'"></div>
<br>
<div th:text="${game.rules}"></div>
<br>

<div>難易度：<span th:if="${game.difficulty == 1}">☆☆☆☆★</span>
<span th:if="${game.difficulty == 3}">☆☆★★★</span>
<span th:if="${game.difficulty == 4}">☆★★★★</span>
<span th:if="${game.difficulty == 5}">★★★★★</span>
</div><br>

<form th:action="'/join/'+${game.code}" method="get">
<button class="reset flat border">ゲームに<br>参加する！</button>
</form>

<!--

<div>
	<table border="2">
	<tr>
		<td rowspan="4" colspan="2">画像入れます</td>
		<td th:text="${game.name}"></td>
		<form th:action="'/join/'+${game.code}" method="post">
		<td rowspan="2"><button type="submit">ゲームに<br>参加する！</button></td>
		</form>
	</tr>
	<tr>
		<td th:text="'1 PLAY '+ ${game.price} + '円'"></td>
	</tr>
	<tr>
		<td colspan="2" th:text="${game.rules}"></td>
	</tr>
	<tr>
		<td colspan="2" th:text="${game.difficulty}"></td>
	</tr>
	</table>
</div>
-->

</body>
</html>