<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Relax yoga</title>
</head>
<body>
<h1>Relax yoga</h1>

<br>
<form action="/yoga" method="post">
<input type="submit" value="ヨガスタート">

<div th:if="${session.COUNT == 0}"><img width="350" th:src="@{/onepiece01_luffy.png}"/></div><!-- 出てこない部分 -->
<div th:if="${session.COUNT == 1}"><img width="350" th:src="@{/onepiece02_zoro_bandana.png}"/></div>
<div th:if="${session.COUNT == 2}"><img width="350" th:src="@{/onepiece03_nami.png}"/></div>
<div th:if="${session.COUNT == 3}"><img width="350" th:src="@{/onepiece04_usopp_sogeking.png}"/></div>
<div th:if="${session.COUNT == 4}"><img width="350" th:src="@{/onepiece05_sanji.png}"/></div>
<div th:if="${session.COUNT == 5}"><img width="350" th:src="@{/onepiece06_chopper.png}"/></div>
<div th:if="${session.COUNT == 6}"><img width="350" th:src="@{/onepiece07_robin.png}"/></div>
<div th:if="${session.COUNT == 7}"><img width="350" th:src="@{/onepiece08_franky.png}"/></div>
<div th:if="${session.COUNT == 8}"><img width="350" th:src="@{/onepiece09_brook.png}"/></div>
<div th:if="${session.COUNT == 9}"><img width="350" th:src="@{/onepiece10_jinbe.png}"/></div>
</form>

</body>
</html>